{{ bem_set_global('component') }}
{{ bem_set_block('story-section') }}
<body>
<h1>Twig Extension Example</h1>

<pre>
{% set classes = [
  bem_block().plus_js(),
  bem_block().modifier('th-summary'),
  bem_block().modifier('lang-en'),
] %}
&lt;section>
  &ltdiv class="{{ classes|join(' ') }}">
    &lt;div class="{{ bem_element('width').plus_global() }}">
      &lt;div class="{{ bem_element('item').plus_modifier('first') }}">&lt;/div>
      &lt;div class="{{ bem_element('item') }}">&lt;/div>
      &lt;div class="{{ bem_element('item').plus_modifier('last') }}">&lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/section>
</pre>
</body>
